* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #80e1ca, #467b6e);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-main-container img {
  height: 11vh;
}

.login-main-container h1 {
  font-weight: 400;
  color: white;
  font-size: 3vh;
}

.login-main-container input {
  height: 7vh;
  width: 30vh;
  border: white solid 2px;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 2vh;
  padding-right: 2vh;
  color: white;
  font-weight: 600;
  outline: none;
}

.login-main-container button {
  height: 7vh;
  width: 100%;
  background-color: #80e1ca;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 2.6vh;
  margin-top: 2vh;
}

.fontcolor::placeholder {
  color: white;
  font-weight: 100;
}
