<div class="contract-main-card">
    <div class="contract-info-first-container">
        <h3>{%CONTRACTNAME%}</h3>
        <h3>{%CLIENTNAME%}</h3>
        <div class="date-container">{%CONTRACTDATE%}</div>
    </div>
    <div class="contract-info-second-container">
        <div class="location-container">{%LOCATION%}</div>
        <div class="done-btn" data-contract-id="{%CONTRACT_ID%}" style="cursor: pointer;">
            <img src="/images/accept-circular-button-outline.png" alt="Done">
        </div>
    </div>
</div>
